<div #topRef></div>
<div *ngIf="loading(); else productGrid">
  <p>Loading..</p>
</div>
<ng-template #productGrid>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of paginatedProducts()">
      <app-card
        [title]="product.title"
        [content]="product.description"
        [image]="product.image"
        [actions]="[
          { label: 'View', action: 'view', type: 'info', icon: 'bi bi-eye' },
          {
            label: 'Edit',
            action: 'Edit',
            type: 'primary',
            icon: 'bi bi-pencil-square'
          },
          {
            label: 'Delete',
            action: 'delete',
            type: 'danger',
            icon: 'bi bi-trash'
          }
        ]"
        (actionClicked)="handleCardAction($event, product)"
      ></app-card>
    </div>
  </div>
  <!-- Pagination controls -->
  <div class="d-flex justify-content-center align-items-center mb-5 gap-3 mt-4">
    <button
      class="btn btn-outline-secondary"
      (click)="prevPage()"
      [disabled]="currentPage() === 1"
    >
      Prev
    </button>
    <span>Page {{ currentPage() }} / {{ totalPages() }}</span>
    <button
      class="btn btn-outline-secondary"
      (click)="nextPage()"
      [disabled]="currentPage() === totalPages()"
    >
      Next
    </button>
  </div>
</ng-template>
